<button class="control-button"(click)="clearCanvas()">CLEAR</button>
<button class="control-button"(click)="setBrushSize(5)">Brush 5</button>
<button class="control-button"(click)="setBrushSize(10)">Brush 10</button>
<button class="control-button"(click)="setBrushSize(15)">Brush 15</button>
<button class="control-button"(click)="setBrushSize(20)">Brush 20</button>
<button class="control-button"(click)="setBrushSize(25)">Brush 25</button>
<button class="control-button"(click)="setBrushColor('BLUE')">Brush Blue</button>
<button class="control-button"(click)="setBrushColor('GREEN')">Brush Green</button>
<button class="control-button"(click)="setBrushColor('RED')">Brush Red</button>
<button class="control-button"(click)="setBrushColor('BLACK')">Brush Black</button>
<button class="control-button"(click)="setBrushColor('WHITE')">Brush White</button>
